@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}
<!-- The font for the dChiTitle -->
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

<div class="navbar navbar-fixed-top navbar-bold" data-spy="affix" data-offset-top="1000">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Home</a>
            <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="#whoWeAre">About Us</a></li>
                <li><a href="#serviceCallout">Service</a></li>
                <li><a href="#philanthropyCallout">Philanthropy</a></li>
                <li><a href="#brotherhoodCallout">Brotherhood</a></li>
                <li><a href="#oncampusCallout">On Campus</a></li>
                <li><a href="#moreInformation">More Information</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="headerImage" class="callout calloutBrotherhood"></div>
<div class="header vert headerHeight" id="logoHeader">
    <div id="headerText" class="container text-center">
        <!-- consider replacing with just the images i.e. http://www.uwwdx.org/-->
        <h1 id="dChiTitle">Delta Chi Oshkosh</h1>
    </div>
</div>
<div class="container text-center imageMarginTop">
    <img src="/Images/deltachilogo.png" />
    <img src="/Images/uwosh.png" /> <!-- this needs to be transparent or something-->
</div>
<div class="callout calloutChapter" id="whoWeAre">
    <div class="container">
        <h1 class="dChiTitle">Who We Are</h1>
        The University of Wisconsin Oshkosh has had Delta Chi on their campus two times before our colony. This time we are here to stay, as our Founders' Shirts say, we are here to &quot;Redefine the college social fraternity.&quot; We are here to not only uphold our founding values, but to raise our fraternity to new heights. This does not come easily and we are determined to work hard and become a full fledged Delta Chi Chapter. We hope you will join us in that mission.
    </div>

    <div class="container">
        <h1 class="dChiTitle">What We're Doing</h1>
        We are a college social fraternity looking to enhance the lives of our men through promoting friendship, developing character, advancing justice, and assisting in the acquisition of a sound education. <br/>
        We are committed to helping the campus, the community, and beyond through volunteerism, philanthropy, and being active.
    </div>

    <div>
        <h1 class="subTitle text-center paddingTop15px">
            REDEFINING THE COLLEGE SOCIAL FRATERNITY.
        </h1>
    </div>

    
</div>

<div class="dChiBuff segwayTextCallout">
    <h1 class="dChiTitle text-center segwayText">
        Let us tell you a bit about what we do.
    </h1>
</div>

<div class="dChiRed callout" id="serviceCallout">
    <h1 class="subTitle text-center">
        SERVICE
    </h1>
</div>

<div class="dChiBuff callout" id="philanthropyCallout">
    <h1 class="subTitle text-center">
        PHILANTROPY
    </h1>
</div>

<div class="dChiRed callout" id="brotherhoodCallout">
    <h1 class="subTitle text-center">
        BROTHERHOOD
    </h1>
</div>



<div class="dChiBuff callout" id="oncampusCallout">
    <h1 class="subTitle text-center">
        ON CAMPUS
    </h1>
</div>



<div class="callout calloutNationals" id="sec3">
    <div class ="container transparentGrey verticalCenter">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class ="dChiTitle">The Delta Chi Fraternity</h1>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="text-center historyBottomPadding">
                The Delta Chi Fraternity was founded on October 13th, 1890 at Cornell University. Ever since then the men who have joined our numbers have sworn to uphold these four values:
            </div>
        </div>

        <div class="row col-md-12 text-center">
            <div class="col-sm-3">
                <img class="img-circle" src="http://api.randomuser.me/portraits/thumb/women/12.jpg">
            </div>
            <div class="col-sm-3">
                <img class="img-circle" src="http://api.randomuser.me/portraits/thumb/men/95.jpg">
            </div>
            <div class="col-sm-3">
                <img class="img-circle" src="http://api.randomuser.me/portraits/thumb/women/67.jpg">
            </div>
            <div class="col-sm-3">
                <img class="img-circle" src="http://api.randomuser.me/portraits/thumb/men/27.jpg">
            </div>
        </div>

        <div class="row paddingTop15px col-md-12 text-center">
            <div class="col-sm-3">Education</div>
            <div class="col-sm-3">Justice</div>
            <div class="col-sm-3">Character</div>
            <div class="col-sm-3">Friendship</div>
        </div>
    </div>
    

</div>

<div class="blurb dChiBuff" id ="moreInformation">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>Interested? Have questions?</h1>
                <h2 class="italic">Contact us using the form below.</h2>
            </div>

        </div>
        <form class="col-md-6 col-md-offset-3 text-center">
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="nameInput">Name</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Name">
            </div>
      
            <div class="radio">
                <label>
                    <input type="radio" name ="typeRadio"/> I have a question!
                </label>
                <label>
                    <input type ="radio" name ="typeRadio"/> I need more information!
                </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>


    <div class="container-fluid dChiBuff">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <p>Template by Bootly. Built upon by Kurt <i>&quot;the baddest bitch&quot;</i> Kaufman</p>
            </div>
        </div>
    </div>

@*<ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="icon-chevron-up icon-3x"></i></a></li>
</ul>*@
