@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}


<div class="navbar navbar-fixed-top navbar-bold" data-spy="affix" data-offset-top="1000">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Home</a>
            <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="#brotherhood">Brotherhood</a></li>
                <li><a href="#sec2">Outreach</a></li>
                <li><a href="#sec3">Something</a></li>
                <li><a href="#sec4">Something</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="header vert headerHeight">
    <div class="container text-center">

        <h1>Delta Chi Oshkosh</h1>
        <img src="/Images/deltachilogo.png" />
        <img src="/Images/uwosh.png" /> <!-- this needs to be transparent or something-->
    </div>
</div>

<div id="brotherhood" class="calloutBrotherhood">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Brotherhood</h1>
                <p class="lead">The Most Popular Responsive Framework</p>
            </div>
        </div>
    </div>
</div>

<div class="featurette" id="sec2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Amazing Features</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2 text-center">
                <div class="featurette-item">
                    <i class="icon-rocket"></i>
                    <h4>Rocket</h4>
                    <p>Up-up-and-away with this starter template.</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="featurette-item">
                    <i class="icon-magnet"></i>
                    <h4>Magnet</h4>
                    <p>For you are a magnet and I am steel.</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="featurette-item">
                    <i class="icon-shield"></i>
                    <h4>Shield</h4>
                    <p>Protect yourself. Don't design like it's 1999.</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="featurette-item">
                    <i class="icon-pencil"></i>
                    <h4>Scholar</h4>
                    <p>Because lead pencils are pretty smart looking.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="callout" id="sec3">
    <div class="vert">
        <div class="col-md-12 text-center"><h2>The Delta Chi Fraternity</h2></div>
        <div class="col-md-12 text-center">&nbsp;</div>
        <div class="text-center historyBottomPadding">
            The Delta Chi Fraternity was founded on October 13th, 1890 at Cornell University. Ever since then the men who have joined our numbers have sworn to uphold these four values:
        </div>
        <div class="col-md-8 col-md-offset-2 text-center">
            <table>
                <tbody>
                    <tr>
                        <td class ="valuesTablePadding">
                            <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/women/12.jpg"></div>
                        </td>
                        <td class="valuesTablePadding">
                            <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/men/95.jpg"></div>
                        </td>
                        <td class="valuesTablePadding">
                            <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/women/67.jpg"></div>
                        </td>
                        <td class="valuesTablePadding">
                            <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/men/27.jpg"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="valuesTablePadding">
                            Education
                        </td> 
                        <td class="valuesTablePadding">
                            Justice
                        </td>
                        <td class="valuesTablePadding">
                            Character
                        </td>
                        <td class="valuesTablePadding">
                            Friendship
                        </td>
                    </tr>
                   
                </tbody>
                
            </table>
        </div>
    
    </div>
    
    </div>
<hr>

<div class="gallery">

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h5>This Template is Responsive</h5>
            <h2>Features Galore</h2>
            <br>
        </div>
    </div>

    <div class="container well well-lg">

        <div class="row">

            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-film"></i></span> Carousel
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-folder-close-alt"></i></span> Tabs
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-credit-card"></i></span> Modal
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-reorder"></i></span> Navigation
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-mobile-phone"></i></span> Mobile-first
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-align-justify"></i></span> Accordion
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-list-alt"></i></span> Panel
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-check"></i></span> Form
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-table"></i></span> Table
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-eye-open"></i></span> Icons
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-th"></i></span> Responsive Grid
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-font"></i></span> Typography
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blurb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Kickstart Your Web Design</h1>
                <p class="lead">With this Responsive Bootstrap Template</p>
            </div>
        </div>
    </div>
</div>

<div class="blurb dChiBuff">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>Interested? Have questions?</h1>
                <h2 class ="italic">Contact us using the form below.</h2>
            </div>
            <div id="contactForm" class="col-md-6 col-md-offset-3 text-center">
                <table>
                    <tr>
                        <td class ="inputPadding">
                            <label>Name: <input type="text" id="nameField" /></label>
                        </td>
                        <td class ="inputPadding">
                            <label>Email: <input type="text" id="emailField" /></label>
                        </td>
                    </tr>
                    <tr class="col-md-6 col-md-offset-3 text-center">
                        <td>
                            <label><input type="radio" id="moreInformation" /> I would like more information</label>
                        </td>
                        <td>
                            <label><input type ="radio" id ="hasQuestion"/> I have a question!</label>
                        </td>

                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <p>Template by Bootly. Built upon by Kurt Kaufman & Zackry Wiese.</p>
            </div>
        </div>
    </div>
</footer>

<ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="icon-chevron-up icon-3x"></i></a></li>
</ul>
