@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}
<!-- The font for the dChiTitle -->
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<div class="navbar navbar-fixed-top navbar-bold" data-spy="affix" data-offset-top="1000">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Home</a>
            <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="#brotherhood">Brotherhood</a></li>
                <li><a href="#sec2">Outreach</a></li>
                <li><a href="#sec3">Something</a></li>
                <li><a href="#sec4">Something</a></li>
            </ul>
        </div>
    </div>
</div>



<div id="headerImage" class="callout calloutBrotherhood"></div>


<div class="header vert headerHeight" id ="logoHeader">
    <div class="container text-center">
        <!-- consider replacing with just the images i.e. http://www.uwwdx.org/-->
        <h1 id="dChiTitle">Delta Chi Oshkosh</h1>
        <img src="/Images/deltachilogo.png" />
        <img src="/Images/uwosh.png" /> <!-- this needs to be transparent or something-->
    </div>
</div>
<div class="callout calloutChapter" id="sec2">
    <div class="container">
        <h1 class="dChiTitle">Who We Are</h1>
        The University of Wisconsin Oshkosh has had Delta Chi on their campus two times before our colony. This time we are here to stay, as our Founders' Shirts say, we are here to &quot;Redefine the college social fraternity.&quot; We are here to not only uphold our founding values, but to raise our fraternity to new heights. This does not come easily and we are determined to work hard and become a full fledged Delta Chi Chapter. We hope you will join us in that misson.
    </div>

    <div class="container">
        <h1 class="dChiTitle">Some more things</h1>
        Here's some more things that we think you might find kinda neat.
    </div>
</div>

<div class="callout calloutNationals" id="sec3">
    <div class ="container transparentGrey verticalCenter">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class ="dChiTitle">The Delta Chi Fraternity</h1>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="text-center historyBottomPadding">
                The Delta Chi Fraternity was founded on October 13th, 1890 at Cornell University. Ever since then the men who have joined our numbers have sworn to uphold these four values:
            </div>
        </div>

        <div class="row col-md-12 text-center">
            <div class="col-sm-3">
                <img class="img-circle" src="http://api.randomuser.me/portraits/thumb/women/12.jpg">
            </div>
            <div class="col-sm-3">
                <img class="img-circle" src="http://api.randomuser.me/portraits/thumb/men/95.jpg">
            </div>
            <div class="col-sm-3">
                <img class="img-circle" src="http://api.randomuser.me/portraits/thumb/women/67.jpg">
            </div>
            <div class="col-sm-3">
                <img class="img-circle" src="http://api.randomuser.me/portraits/thumb/men/27.jpg">
            </div>
        </div>

        <div class="row valuesPaddingTop col-md-12 text-center">
            <div class="col-sm-3">Education</div>
            <div class="col-sm-3">Justice</div>
            <div class="col-sm-3">Character</div>
            <div class="col-sm-3">Friendship</div>
        </div>
    </div>
    

</div>


@*<div class="gallery">

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h5>This Template is Responsive</h5>
            <h2>Features Galore</h2>
            <br>
        </div>
    </div>

    <div class="container well well-lg">

        <div class="row">

            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-film"></i></span> Carousel
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-folder-close-alt"></i></span> Tabs
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-credit-card"></i></span> Modal
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-reorder"></i></span> Navigation
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-mobile-phone"></i></span> Mobile-first
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-align-justify"></i></span> Accordion
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-list-alt"></i></span> Panel
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-check"></i></span> Form
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-table"></i></span> Table
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-eye-open"></i></span> Icons
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-th"></i></span> Responsive Grid
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="text-success"><i class="icon-font"></i></span> Typography
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blurb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Kickstart Your Web Design</h1>
                <p class="lead">With this Responsive Bootstrap Template</p>
            </div>
        </div>
    </div>
</div>*@

<div class="blurb dChiBuff">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>Interested? Have questions?</h1>
                <h2 class="italic">Contact us using the form below.</h2>
            </div>

        </div>
        <form class="col-md-6 col-md-offset-3 text-center">
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="nameInput">Name</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Name">
            </div>
      
            <div class="radio">
                <label>
                    <input type="radio" name ="typeRadio"/> I have a question!
                </label>
                <label>
                    <input type ="radio" name ="typeRadio"/> I need more information!
                </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>


    <div class="container-fluid dChiBuff">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <p>Template by Bootly. Built upon by Kurt <i>&quot;the baddest bitch&quot;</i> Kaufman</p>
            </div>
        </div>
    </div>

@*<ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="icon-chevron-up icon-3x"></i></a></li>
</ul>*@
